.temp {
  color: grey;
}

.cardsRow {
  margin-top: 2em;
}
.info-body{
  height: 400px;
}
.search-body {
  height: 350px;
}
.card {
  border-color: #4fc3f7;
}
.card-header {
  background-color: #b3e5fc;
}

td {
  font-size: 12px;
}

.icon {
  height: 10rem;
}
.info {
  height: 7rem;
}
.text-success {
  font-weight: bold;
  padding-top: .5rem;
}